/* Luton luton_outlaws CSS Document */

/* The Grand Equaliser Rule */
	html, body, h1, h2, h3, h4, h5, h6, p, div, span, img, ul, li {
		margin: 0;
		padding: 0;
		border: 0;
	}

/* define html elements */
	body {
		font-family: Arial, Helvetica, sans-serif;
		background: #001a2d;
		font-size:13px;
		color: #454545;
	}
	
	a, a:visited, a:active, a:hover {
		outline: none;
	}
	
	
	#main-container {
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #001a2d;
	}
	
	#header-container a {
		width: 960px;
		height: 132px;
		text-align: center;
		margin: 0px;
		padding: 0px;
		background: #001a2d url('../img/header.jpg') repeat-x top;
		display: block;
	}
	
		#header-container a h1 {
			display: none;
		}
	
	#nav-container {
		width: 960px;
		height: 32px;
		text-align: center;
		margin: 0 auto 0 auto;
		background: transparent url('../img/bg-nav-shadow.jpg') repeat-x top;
	}
	
		#navigation {
			width: 920px;
			margin: 0 auto 0 auto;
			padding: 0;
			background: #ff901f url('../img/bg-nav.gif') repeat-x top;
			border-bottom: 1px solid #b96500;
			height: 31px;
		}
	
		#navigation ul li {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		#navigation ul li a {
			height: 31px;
			display: block;
			color: #fff;
			font-weight: bold;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
		
			#navigation ul li a span {
				display: none;
			}
			
		/* Official Site */
		#navigation ul li a.link-official, #navigation ul li a:visited.link-official {
			width: 105px;
			background: transparent url('../img/nav-bar.gif') no-repeat 0 0;
		}
		
			#navigation ul li a:hover.link-official, #navigation ul li a:active.link-official {
				background: transparent url('../img/nav-bar.gif') no-repeat 0 -31px;
			}
			
		/* Hatters Shop */
		#navigation ul li a.link-shop, #navigation ul li a:visited.link-shop {
			width: 113px;
			background: transparent url('../img/nav-bar.gif') no-repeat -105px 0;
		}
		
			#navigation ul li a:hover.link-shop, #navigation ul li a:active.link-shop {
				background: transparent url('../img/nav-bar.gif') no-repeat -105px -31px;
			}
			
		/* Tickets */
		#navigation ul li a.link-tickets, #navigation ul li a:visited.link-tickets {
			width: 76px;
			background: transparent url('../img/nav-bar.gif') no-repeat -218px 0;
		}
		
			#navigation ul li a:hover.link-tickets, #navigation ul li a:active.link-tickets {
				background: transparent url('../img/nav-bar.gif') no-repeat -218px -31px;
			}
			
		/* Hatters Pics */
		#navigation ul li a.link-pics, #navigation ul li a:visited.link-pics {
			width: 105px;
			background: transparent url('../img/nav-bar.gif') no-repeat -294px 0;
		}
		
			#navigation ul li a:hover.link-pics, #navigation ul li a:active.link-pics {
				background: transparent url('../img/nav-bar.gif') no-repeat -294px -31px;
			}
			
		/* Hatters News */
		#navigation ul li a.link-news, #navigation ul li a:visited.link-news {
			width: 115px;
			background: transparent url('../img/nav-bar.gif') no-repeat -399px 0;
		}
		
			#navigation ul li a:hover.link-news, #navigation ul li a:active.link-news {
				background: transparent url('../img/nav-bar.gif') no-repeat -399px -31px;
			}
			
		/* Trust in Luton */
		#navigation ul li a.link-trust, #navigation ul li a:visited.link-trust {
			width: 118px;
			background: transparent url('../img/nav-bar.gif') no-repeat -514px 0;
		}
		
			#navigation ul li a:hover.link-trust, #navigation ul li a:active.link-trust {
				background: transparent url('../img/nav-bar.gif') no-repeat -514px -31px;
			}
			
		/* Loyal Luton */
		#navigation ul li a.link-loyal, #navigation ul li a:visited.link-loyal {
			width: 103px;
			background: transparent url('../img/nav-bar.gif') no-repeat -632px 0;
		}
		
			#navigation ul li a:hover.link-loyal, #navigation ul li a:active.link-loyal {
				background: transparent url('../img/nav-bar.gif') no-repeat -632px -31px;
			}
			
		/* SoLYD */
		#navigation ul li a.link-solyd, #navigation ul li a:visited.link-solyd {
			width: 70px;
			background: transparent url('../img/nav-bar.gif') no-repeat -735px 0;
		}
		
			#navigation ul li a:hover.link-solyd, #navigation ul li a:active.link-solyd {
				background: transparent url('../img/nav-bar.gif') no-repeat -735px -31px;
			}
			
		/* Contact 2020 */
		#navigation ul li a.link-2020, #navigation ul li a:visited.link-2020 {
			width: 115px;
			background: transparent url('../img/nav-bar.gif') no-repeat -805px 0;
		}
		
			#navigation ul li a:hover.link-2020, #navigation ul li a:active.link-2020 {
				background: transparent url('../img/nav-bar.gif') no-repeat -805px -31px;
			}
		
	
	.center-container {
		width: 960px;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#shadow-container {
		width: 960px;
		margin: 0 auto 0 auto;
		text-align: center;
		background: #001a2d url('../img/bg-shadow.gif') repeat-y 0 0;
	}
	
	#content-container {
		width: 920px;
		margin: 0 auto 0 auto;
		text-align: center;
		background: #fff url('../img/bg-content.gif') repeat-x top;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #bbc2cc;
	}
	
	#content-container p {
		line-height: 150%;
	}
	
	#content-container ul li a, #content-container ul li a:visited {
		text-decoration: underline;
	}
	
	#content-container ul li a:hover, #content-container ul li a:active {
		text-decoration: none;
	}

	
	#content-container ul li {
		margin: 20px 0 20px 20px;
	}
	
	#content-container ul li ul li {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#content-container form {
		margin-top: 5px;
		padding: 5px;
		background: #d8d8d9 url('../img/bg_form.gif') repeat-x top;
		border: 1px solid #cccccc;
		color: #666666;
	}

	
	#index {
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}
	
	#index font {
		font-size: 13px;
	}
	
	#index p {
	margin-bottom: 20px;
	}
	
	
	#content-padding {
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		line-height: 150%;
		padding: 20px 30px 20px 30px;
	}
	
	#content-padding table font   {
		line-height: 150%;
		font-size: 13px;
		margin-bottom: 0px;
		display: inline;
	}
	
	#content-padding font {
		margin-bottom: 5px;
		display: block;
	}
	
	#content-padding table {
		width: 100%;
	}
	
	#content-padding ul {
		margin: 0 0 0 0;
	}
	
	#content-padding ul ul {
		margin: 0 0 0 2%;
	}
	

	#board_controls {
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 13px;
		margin-bottom: 10px;
	}
	
	.post_message a, .post_message a:visited {
		float: right;
		display: block;
		width: 148px;
		height: 35px;
		background: transparent url('../img/button-post.png') no-repeat 0px 0px;
	}
	
	.post_message a:hover, .post_message a:active {
		float: right;
		display: block;
		width: 148px;
		height: 35px;
		background: transparent url('../img/button-post.png') no-repeat 0px -35px;
	}
	
	.post_reply a, .post_reply a:visited {
		float: right;
		display: block;
		width: 128px;
		height: 35px;
		margin-right: 15px;
		background: transparent url('../img/button-reply.png') no-repeat 0px 0px;
	}
	
	.post_reply a:hover, .post_reply a:active {
		float: right;
		display: block;
		width: 128px;
		height: 35px;
		margin-right: 15px;
		background: transparent url('../img/button-reply.png') no-repeat 0px -35px;
	}
	
	.main_page a, .main_page a:visited {
		float: right;
		display: block;
		width: 129px;
		height: 35px;
		background: transparent url('../img/button-main.png') no-repeat 0px 0px;
	}
	
	.main_page a:hover, .main_page a:active {
		float: right;
		display: block;
		width: 129px;
		height: 35px;
		background: transparent url('../img/button-main.png') no-repeat 0px -35px;
	}
	
	
	.age {
		float: left;
		text-align: left;
		height: 33px;
		background: transparent  url('../img/18-certificate.png') no-repeat left top;
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		color: #999999;
		padding: 0 0 0 38px;
		line-height: 12px;
	}
	
	.age font {
		font-size: 11px;
		padding: 4px 0 0 0;
	}
	
	#footer-bar {
		background: #bbc3cd url('../img/footer-bar.gif') no-repeat center top;
		height: 27px;
		width: 960px;
		margin: 0 auto 0 auto;
	}
	
	#footer-container {
		width: 960px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 25px 0 15px 0;
		font-size: 11px;
		background: #001a2d url('../img/bg-footer.jpg') no-repeat center top;
	}

	
	.disclaimer {
		float: right;
		width: 233px;
		text-align: left;
		margin: 0px 20px 0 0;
		color: #a5b4bd;
		font-size:11px;
	}
	
	
		.disclaimer p, .disclaimer span, .disclaimer font {
			line-height: 125%;
			text-align: justify;
			font-size:11px;
			margin-bottom: 5px;
		}
	
	.disclaimer-title {
		width: 100%;
		background: transparent url('../img/title-disclaimer.png') no-repeat left top;
		margin: 12px 0 10px 0;
		height: 27px;
		border-bottom: 1px solid #ff901f;
	}
	
		.disclaimer-title span {
			display: none;
		}
		
	#back-to-top {
		float: left;
		width: 300px;
		margin: 0 0 0 35px;
		font-weight: bold;
		padding: 6px 0 0 0;
		font-size: 12px;
	}
	
	#back-to-top a, #back-to-top a:visited {
		color: #001a2d;
		text-decoration: none;
	}
	
	#back-to-top a:hover, #back-to-top a:active {
		color: #001a2d;
		text-decoration: underline;	
	}
		
	#eXTReMe {
		float: right;
		margin: 0 35px 0 0;
		width: 20px;
		padding: 4px 0 0 0;
	}
	
	#forum_container {
		margin-top: 10px;
		padding-top: 30px;
		background: transparent url('../img/more_forums.gif') no-repeat left top;
	}
	
	.forums {
		border-collapse:collapse;
		margin: 0px;
		padding: 0px;
		width: 99%;
	}
	
	.forums td {
		padding-right: 35px;
		padding-bottom: 5px;
		color: #999999;
	}
	
	.forums td a, .forums td a:visited {
		color: #999999;
		text-decoration: none;
		font-size: 11px;
	}
	
	.forums td a:hover, .forums td a:active {
		color: #999999;
		text-decoration: underline;
		font-size: 11px;
	}
	
	.clear {
		clear: both;
	}
	
	input button {
		border: 1px solid #ff901f;
	}
